{% extends 'partials/_dashboard.html.twig' %}

{% block title %}Overview{% endblock %}

{% block body %}

<div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <h1 class="text-2xl font-semibold text-gray-900  dark:text-slate-300">Dashboard</h1>
</div>

<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 dark:bg-gray-800 dark:text-slate-300">
    <div>
        <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-slate-300">Last 30 days</h3>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Total Orders</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">100</dd>
          </div>
      
          <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Total Active Product</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">100</dd>
          </div>
      
          <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Avg. Visit / mo</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">122</dd>
          </div>
        </dl>
    </div> 
</div>



{% endblock %}
